<p id="notice"><%= notice %></p>

<center><h1>Articles</h1></center>


  <% @articles.each do |article| %>
      <center><h2> <%= article.title %> </h2>
      <%= article.content %>
      <br>
      <br>
      <%= link_to 'Show', article %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></center>

  <% end %>

<br>
<br>
<%= link_to 'New Article', new_article_path %>
