<% if current_admin %>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-default' %>
<% end %>

<div style="margin: 15px;">
  <%= form_tag search_articles_path, :method => "get", class: 'form-inline' do %>
    <%= text_field_tag :query, @query, {placeholder: "Search for an article...", class: 'form-control'} %>
    <%= submit_tag "Search", class: 'btn btn-default btn-primary' %>
  <% end %>
</div>

<%= render partial: 'thumbnail', collection: @articles %>
