
<!DOCTYPE html>
<html>
<%= location = @city %>
<% currentCategory = Category.name if Category %>
<p id="notice"><%= notice %></p>

<style>

h1 { 
  text-align: center;
  font-size:8;
  color: black;

}

h2 { 
  text-align: left;
  font-size:114;
  color: black;

}

th { 
  text-align: left;
  font-size:20;
  color: black;

}



body {
  background-color:white;
}

table{
  color:black;
  text-align: left;
  width: 100%;
  height: 150px;
  vertical-align: middle;

}

td{

  height:50px;
}
</style>

<h1>HELLO, YOU ARE IN <i><%= location %></i></h1>

<table>
  <thead>
    <tr>
      <h2>Here are items that can be disposed:</h2>
      <th colspan="10"></th>
    </tr>
  </thead>
</table>

<h2>
  <%@categories.each do |category| %>
    <%=category.name%>
      <%category.items.each do |item| %>
      <%= item.name %>
      <br>
    <% end %>  
  <% end %>
</h2>



<br>

<%= link_to 'New Category', new_category_path %>
</html>
