<script type="text/javascript">
  $(document).ready(function() {

    bins = JSON.parse(
      '<%= raw @city.bins.order(:name).map { |bin|
        { id: bin.id, name: bin.name, items: bin.items.order(:name).select(:name, :id) }
      }.to_json %>'
    )

    refresh_bins()
    display_all_items()

    $('.modal').on('shown.bs.modal', function() {
      // Autofocus input when popup is shown
      $(this).find('[autofocus]').focus();

      // Autoset category if one of the categories is selected
      $(this).find('[name=category_id]').val(active_category() || '')
    });

    // Reset popup dialog when closed
    $('#new-item').on('hidden.bs.modal', function() {
      $('#new-item-errors').empty()
      $('#new-item').find('[name=name]').val('')
      $('#new-item').find('[name=category_id]').val('')
    })

    // Do not redirect on new item submission
    $('#new-item-form').submit(function(e) {
      e.preventDefault()
      save_new_item()
    })

    // Handle new bin submission
    $('#new-bin-form').submit(function(e) {
      e.preventDefault()
      save_new_bin()
    })
  })
</script>

<!-- New item popup -->
<div class="modal fade" id="new-item" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Item</h4>
      </div>
      <div class="modal-body">
        <div id="new-item-errors">
          <!-- Filled in dynamically -->
        </div>

        <form id="new-item-form">
          <div class="form-group">
            <input type="text" placeholder="Name" class="form-control" name="name" autofocus>
          </div>
          <div class="form-group">
            <%= collection_select :item, :category_id, Category.all, :id, :name,
              {prompt: 'Choose a category'},
              {class: 'form-control', name: 'category_id'} %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="$('#new-item-form').submit()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row no-gutters">
        <div class="col-xs-6">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="col-xs-6">
          <h3 class="panel-title">Items</h3>
        </div>
      </div>
    </div>

    <% def set_height
        list_height = (Category.count + 2) * 35 + 2
        "max-height: #{list_height}px; min-height: #{list_height}px;"
      end
    %>

    <% def set_width
        list_width = 250
        "max-width: #{list_width}px; min-width: #{list_width}px;"
      end
    %>

    <div class="row no-gutters">
      <div class="col-xs-6" style="padding-right: 0;">

        <div class="scrollable-list">
          <ul id="categories" class="list-group" style="<%= set_height %>">
            <li id="all_categories" onclick="display_all_items()" class="list-group-item btn btn-default">
              All Items
            </li>

            <% Category.all.each do |category| %>
              <li id="category<%= category.id %>" onclick="filter_by_category(<%= category.id %>)" class="list-group-item btn btn-default">
                <%= category.name %>
              </li>
            <% end %>
          </ul>
        </div>

      </div> <!-- col -->

      <div class="col-xs-6" style="padding-left: 0;">

        <div class="scrollable-list" class="btn-group" data-toggle="buttons">
          <ul id="items" class="list-group" style="<%= set_height %>">
            <!-- Filled in by JS -->
          </ul>
        </div>

      <div class="btn-group" >
        <button type="button" class="btn btn-default" onclick="select_all(true)">Select All</button>
        <button type="button" class="btn btn-default" onclick="select_all(false)">Unselect All</button>
        <button type="button" class="btn btn-default" data-keyboard="true" data-toggle="modal" data-target="#new-item">
          <span class = "glyphicon glyphicon-plus"> </span>
          New item
        </button>
        <!-- TODO: "Add item" functionality -->
      </div>

      </div> <!-- col -->
    </div> <!-- row -->

  </div> <!-- panel -->
</div>

<ul id="bins" class="list-group">
  <!-- Filled in dynamically -->

  <li class="inline">
    <!-- New bin -->
    <form id="new-bin-form">
      <div class="panel panel-default" style = "<%= set_height %> <%= set_width %>">
        <div class="panel-heading">
          <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Add a new bin"/>
          </div>
          <input type="hidden" name="city_id" value="<%= @city.id %>"/>
        </div>
        <div class="panel-body">
          <button type="submit"><span class = "glyphicon glyphicon-plus"></span></button>
        </div>
      </div>
    </form>
  </li>
</ul>
