<%= stylesheet_link_tag "cities" %>

<script type="text/javascript">
  <% unless @cities.empty? %>
    // Scroll down to search results
    $(document).ready(function() {
      scroll_to("#cities")
    })
  <% end %>
</script>

<div class="full-window centerable">
  <div class="rh-panel">

    <div class="centered">
      <h3>Welcome to the Recycling Helper</h3>
      <hr>

      <%= form_tag search_cities_path, method: :get, class: "" do %>

        <div class="form-group">
          <%= text_field_tag :query, nil, {
            class: 'form-control',
            placeholder: 'Enter your zip code or city...',
            value: @query,
            tabindex: 1,
            autofocus: true
          } %>
        </div>

        <%= submit_tag 'Go', class: 'btn btn-default btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<ul id="cities" class="list-group">
  <% @cities.sort_by!{ |city| city.name } %>
  <% @cities.each do |city| %>
    <% if city.zip_codes.length > 1 %>
      <li class="list-group-item btn btn-default" onclick="window.location.href = '<%= city_path city %>'">
        <%= "#{city.name}, #{city.state} #{city.zip_codes[0].name} - #{city.zip_codes[1].name}" %>
      </li>
    <% else %>
      <li class="button" onclick="window.location.href = '<%= city_path city %>'">
        <%= "#{city.name}, #{city.state} #{city.zip_codes[0].name}" %>
      </li>
    <% end %>
  <% end %>
</ul>
