<script type="text/javascript">
  $(document).ready(function() {
    display_all_items()
  })
</script>

<div class="container">

  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row no-gutters">
        <div class="col-xs-6">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="col-xs-6">
          <h3 class="panel-title">Items</h3>
        </div>
      </div>
    </div>

    <% def set_height
        list_height = (Category.count + 2) * 35 + 2
        "max-height: #{list_height}px; min-height: #{list_height}px;"
      end
    %>

    <div class="row no-gutters">
      <div class="col-xs-6" style="padding-right: 0;">

        <div class="scrollable-list">
          <ul id="categories" class="list-group" style="<%= set_height %>">
            <li id="all_categories" onclick="display_all_items()" class="list-group-item btn btn-default">
              All Items
            </li>

            <% Category.all.each do |category| %>
              <li id="category<%= category.id %>" onclick="filter_by_category(<%= category.id %>)" class="list-group-item btn btn-default">
                <%= category.name %>
              </li>
            <% end %>
          </ul>
        </div>

      </div> <!-- col -->

      <div class="col-xs-6" style="padding-left: 0;">

        <div class="scrollable-list" class="btn-group" data-toggle="buttons">
          <ul id="items" class="list-group" style="<%= set_height %>">
            <!-- Filled in by JS -->
          </ul>
        </div>

      <div class="btn-group" >
        <button type="button" class="btn btn-default" onclick="select_all(true)">Select All</button>
        <button type="button" class="btn btn-default" onclick="select_all(false)">Unselect All</button>
      </div>

      </div> <!-- col -->
    </div> <!-- row -->

  </div> <!-- panel -->

</div>
