<h1>Add Your City!</h1>

<%= link_to 'Back', cities_path %>

<hr>

<%= form_for @city, html: { multipart: true } do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
    <br>
    <%= f.label :state %>:
    <%= f.text_field :state %><br />
    <br>
    <%= f.label :zip %>:
    <%= f.text_field :zip %><br/>
    <br>
    <%= f.label :website_url %>:
    <%= f.text_field :website_url %><br />
    <br>
    <% for item in Item.all %>
        <%= check_box_tag "city[item_ids][]", item.name %>
        <%= item.name %><br>
    <% end %>
    <%= f.submit %> 

<% end %>
