<%= stylesheet_link_tag "cities" %>
 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "cities", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<script type="text/javascript">
  $(document).ready(function() {
    init_smooth_scrolling()

    $("#search_results").hide()

    <% if @items %>
      // Scroll to search results
      $("#search_results").show()
      $("body").scrollTop($("search_results").outerHeight() + <%= @scroll_from %>)
      scroll_to(0)
    <% end %>

  })
</script>

<header>

  <nav id="bin_links">

    <img class="left" id ="logo" src="https://openclipart.org/image/2400px/svg_to_png/3880/doctormo-Put-Rubbish-in-Bin-Signs.png">
    <b><%= @city.name %>, <%= @city.state %></b>

  	<% @city.bins.each do |bin| %>
  		<% link = "#" + bin.name.downcase %>
  		<a href= "<%=link%>" ><%= bin.name.titleize %></a>
  	<% end %>
  	<!-- Search bar-->
  	<%= form_tag search_items_path(@city), :method => "get", id: 'search_items', class: 'navbar-form navbar-right', onsubmit: 'search_items()' do %>
    	<%= text_field_tag :query, @query, {placeholder: "Search for an item...", class: 'form-control'} %>
      <input type="hidden" name="scroll_from">
    	<%= submit_tag "Search", class: 'btn btn-default' %>
  	<% end %>
  </nav>


</header>

<% if @items %>
  <div id="search_results" class="portion">
    <h2>Found <%= @items.length %> results for "<%= @query %>"</h2>
  </div>
  <div class="info">
    <% @items.each do |item| %>
      <div onclick="scroll_to('#item<%= item.id %>')">
        <%= render partial: 'items/item', locals: {item: item, city: @city, clickable: true} %>
      </div>
    <% end %>
  </div>
<% end %>

<div id="bins">
  <% @city.bins.each do |bin| %>
  	<% myId = bin.name.downcase %>
  	<% myClass = "portion " + bin.name.downcase %>
  	<% myBinStyle = "background-color: " + bin.color + ";" %>

  	<div id="<%=myId%>" class="<%=myClass%>" style = "<%=myBinStyle%>">
  		<h2><%=bin.name.titleize%></h2>

  	</div>

  	<div class="info" >
  		<% items = bin.items.sort_by{|obj| obj.name} %>

  		<% if items.empty? %>
  			<%= "No items in this bin. Add information!" %>
  		<% else %>
  			<!-- Print each item with its bin information -->
  			<% items.each do |item| %>
          <div id="item<%= item.id %>">
            <%= render partial: 'items/item', locals: {item: item, city: @city} %>
          </div>
        <% end %>
  		<% end %>
  	</div>

  <% end %>
</div>

<footer class="info">
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
  <div id="toTop"><a href="#">Back To Top</a></div>
 <!--  <p>&copy; 2014 Arif Hussain Bangash</p> -->

</footer>