<%= stylesheet_link_tag "cities" %>
 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "cities", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<<<<<<< HEAD



=======
>>>>>>> 4e6a8af8f14ed99e625f73c9341f1c57ce0d9f22
<header>
  <nav>
    <img class="" id ="logo" src="https://openclipart.org/image/2400px/svg_to_png/3880/doctormo-Put-Rubbish-in-Bin-Signs.png">
    <b><%= @city.name %>, <%= @city.state %></b>

	<% @categories.each do |category| %>
		<% link = "#" + category.name.downcase %>
		<a href= "<%=link%>" ><%= category.name %></a>
	<% end %>
  </nav>
</header>

<% @categories.each do |category| %>
	<% myId = category.name.downcase %>
	<% myClass = "portion " + category.name %>

	<div id="<%=myId%>" class="<%=myClass%>">
		<h2><%=category.name%></h2>
	</div>

	<div class="info">
		<!-- Only print items if there are items of the particular category in the city -->
		<% if @city.categories.include? category %>
			<% allitems = [] %>

			<!-- Find all the items within a particular category and save their bin.
			Order alphabetically -->
			<% @city.bins.each do |bin| %>
				<% items = bin.items.where(category: category) %>
				<% items.each do |item| %>
					<% allitems.concat [[item, bin]] %>
				<% end %>
			<% end %>
			<% ordered = allitems.sort_by{|obj| obj[0].name} %>

			<!-- Print each item with its bin information -->
			<% ordered.each do |obj| %>
				<% description = obj[0].name + ': ' + obj[1].name.capitalize + " bin" -%> 
				<li class = "box" onclick="myFunction()"><%= description %></li>
			<% end %>
			
		<% else %>
			<%= "Sorry, there is no info about the " + category.name + " items in this city. Suggest a change!" %>
		<% end %>

	</div>
<% end %>

<div id="paper" class="portion Paper">
  <h2>Paper</h2>
</div>


<footer class="info">
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
  <div id="toTop"><a href="#">Back To Top</a></div>
 <!--  <p>&copy; 2014 Arif Hussain Bangash</p> -->
  
</footer>