<%= stylesheet_link_tag "cities" %>
 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "cities", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>




<header>
  <nav>
    <img class="" id ="logo" src="https://openclipart.org/image/2400px/svg_to_png/3880/doctormo-Put-Rubbish-in-Bin-Signs.png">
    <b><%= @city.name %>, <%= @city.state %></b>


	<% @city.categories.each do |category| %>
		<% if category.name == 'Metal'%>
		  <a href= "#metal" + "ss"><%= category.name %></a>
		  <% end %>

		  <% if category.name == 'Paper'%>
		  <a href="#paper"><%= category.name %></a>
		  <% end %>

		  <% if category.name == 'Cardboard'%>
		  <a href="#cardboard"><%= category.name %></a>
		  <% end %>

		  <% if category.name == 'Glass'%>
		  <a href="#glass"><%= category.name %></a>
		  <% end %>
		  <% if category.name == 'Plastic'%>
		  <a href="#plastic"><%= category.name %></a>
		  <% end %>
	<% end %>
  </nav>
</header>



<div id="metal" class="portion Metal">
	
  <h2>Metal/Aluminum</h2>
</div>

<div class="info">

<% @city.bins.each do |bin| %>
	<% category = 'Metal' %>
	<% ordered = bin.items.select { |item| item.category.name == category }.sort_by{|item| item.name} %>
	<% if ordered.empty? %>
		<%= "Sorry, there is no info about the " + category + " items in this city." %>
		<%= "Suggest a change!" %>

	<% else %>
	<ol>
		<% ordered.each do |item| %>
			<% description = item.name + ": " + bin.name.capitalize + " bin" %>
			<li class = "box" onclick="myFunction()"><%= description %></li>
		
		<% end %>

	</ol>

	<% end %>

<% end %>
</div>


<div id="paper" class="portion Paper">
  <h2>Paper</h2>
</div>

<div class="info">
<% @city.bins.each do |bin| %>
	<% category = 'Paper' %>
	<% ordered = bin.items.select { |item| item.category.name == category }.sort_by{|item| item.name} %>
	<% if ordered.empty? %>
		<%= "Sorry, there is no info about the " + category + " items in this city." %>
		<%= "Suggest a change!" %>
	<% else %>
	<ol>
		<% ordered.each do |item| %>
			<% description = item.name + ": " + bin.name.capitalize + " bin" %>
			<li class = "box" onclick="myFunction()"><%= description %></li>
		<% end %>
	</ol>
	<% end %>
<% end %>
</div>


<div id="cardboard" class="portion Cardboard">
  <h2>Cardboards</h2>
</div>

<div class="info">
<% @city.bins.each do |bin| %>
	<% category = 'Cardboard' %>
	<% ordered = bin.items.select { |item| item.category.name == category }.sort_by{|item| item.name} %>
	<% if ordered.empty? %>
		<%= "Sorry, there is no info about the " + category + " items in this city." %>
		<%= "Suggest a change!" %>
	<% else %>
	<ol>
		<% ordered.each do |item| %>
			<% description = item.name + ": " + bin.name.capitalize + " bin" %>
			<li class = "box" onclick="myFunction()"><%= description %></li>
		<% end %>
	</ol>
	<% end %>
<% end %>
</div>


<div id="glass" class="portion Glass">
	<h2>Glass</h2>
</div>

<div class="info">
<% @city.bins.each do |bin| %>
	<% category = 'Glass' %>
	<% ordered = bin.items.select { |item| item.category.name == category }.sort_by{|item| item.name} %>
	<% if ordered.empty? %>
		<%= "Sorry, there is no info about the " + category + " items in this city." %>
		<%= "Suggest a change!" %>
	<% else %>
	<ol>
		<% ordered.each do |item| %>
			<% description = item.name + ": " + bin.name.capitalize + " bin" %>
			<li class = "box" onclick="myFunction()"><%= description %></li>
		<% end %>
	</ol>
	<% end %>
<% end %>
</div>



<div id="plastic" class="portion Plastic">
	<h2>Plastic</h2>
</div>

<div class="info">
<% @city.bins.each do |bin| %>
	<% category = 'Plastic' %>
	<% ordered = bin.items.select { |item| item.category.name == category }.sort_by{|item| item.name} %>
	<% if ordered.empty? %>
		<%= "Sorry, there is no info about the " + category + " items in this city." %>
		<%= "Suggest a change!" %>
	<% else %>
	<ol>
		<% ordered.each do |item| %>
			<% description = item.name + ": " + bin.name.capitalize + " bin" %>
			<li class = "box" onclick="myFunction()"><%= description %></li>
		<% end %>
	</ol>
	<% end %>
<% end %>
</div>


<footer class="info">
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
  <div id="toTop"><a href="#">Back To Top</a></div>
 <!--  <p>&copy; 2014 Arif Hussain Bangash</p> -->
  
</footer>