<p id="notice"><%= notice %></p>
<h2>Welcome to <%= @city.name %>, <%= @city.state %> </h2>
<h4><%= @city.zip %></h4>

<% @city.bins.each do |bin| %>
	<div>The following items can be thrown in the <%= bin.name %> bin: </div>

	<p><% bin.categories.each do |category| %>
		<p><b><div><%= category.name %></div></b></p>

		<% bin.items.where(category: category).each do |item| %>
			<div><%= item.name %></div>
		<% end %>
	<% end %></p>
<% end %>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
