<%= stylesheet_link_tag "cities" %>
 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "cities", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>







<header>
  <nav>
    <img class="" id ="logo" src="https://openclipart.org/image/2400px/svg_to_png/3880/doctormo-Put-Rubbish-in-Bin-Signs.png">
    <b><%= @city.name %>, <%= @city.state %></b>

	<% @city.categories.each do |category| %>
		<% link = "#" + category.name.downcase %>
		<a href= "<%=link%>" ><%= category.name %></a>
	<% end %>
  </nav>
</header>


<% @categories.each do |category| %>
	<% myId = category.name.downcase %>
	<% myClass = "portion " + category.name %>

	<div id="<%=myId%>" class="<%=myClass%>">
		<h2><%=category.name%></h2>
	</div>

	<div class="info">
		Need to add a few query statements
		<% mycategory = @city.categories.find(category) %>
		<% if mycategory.present? %>
			<% ordered = mycategory.items.sort_by{|item| item.name} %>
			<% ordered.each do |item| %>
				<% bin = item.bins.where(city: @city).first %>
				<% description = item.name + ': ' + bin.name.capitalize + " bin" %>
				<li class = "box" onclick="myFunction()"><%= description %></li>
			<% end %>
		<% else %>
			<%= "Sorry, there is no info about the " + mycategory.name + " items in this city. Suggest a change!" %>
		<% end %>

	</div>
<% end %>

<div id="paper" class="portion Paper">
  <h2>Paper</h2>
</div>

<div class="info">
<% @city.bins.each do |bin| %>
	<% category = 'Paper' %>
	<% ordered = bin.items.select { |item| item.category.name == category }.sort_by{|item| item.name} %>
	<% if ordered.empty? %>
		<%= "Sorry, there is no info about the " + category + " items in this city." %>
		<%= "Suggest a change!" %>
	<% else %>
	<ol>
		<% ordered.each do |item| %>
			<% description = item.name + ": " + bin.name.capitalize + " bin" %>
			<li class = "box" onclick="myFunction()"><%= description %></li>
		<% end %>
	</ol>
	<% end %>
<% end %>
</div>



<footer class="info">
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
  <div id="toTop"><a href="#">Back To Top</a></div>
 <!--  <p>&copy; 2014 Arif Hussain Bangash</p> -->
  
</footer>