<h1>New Term</h1>

<%= form_for @term, html: { multipart: true } do |f| %>
  <br>
  <%= f.label :term %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :definition %>
  <%= f.text_area :definition %>
  <br>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.submit %>

<%= link_to 'Back', terms_path %>

<% end %>